* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background: none;
}

*:focus {
  outline: none;
}

.main {
  padding: 10px 30px;
  font-family: sans-serif;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.todo-item {
  margin-bottom: 10px;
  padding: 15px 0;
  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: flex-start;
}

.todo-item button {
  margin: 0 20px;
}

.child-todo {
  padding-left: 50px;
}

.done-todo {
  text-decoration-line: line-through;
  color: #aaa;
}

.add-todo {
  padding: 5px;
}

.add-todo .add-todo-inner {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
}

.add-todo .add-todo-inner:focus {
  background: #fafafa;
}
