.calendar {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}
  
.day {
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.today {
    border: 1px solid #ffcccb;
    color: #000;
}

.otherMonth {
    background-color: #d0d0d0;
    color: #ddd;
}
